 # For running tests
 TEST_CLIENT_ID=client_id_IyzV529B7CUpxZ8bA4Y0Dqj6RKw0muhaLHMcrOJX
 TEST_CLIENT_SECRET=client_secret_64bxnca0oSOKfNk3QZACVITpvDEMdsJ5R02m1zLW

 # For development in a console
 CLIENT_ID=your_sandbox_client_id
 CLIENT_SECRET=your_sandbox_client_secret
 FINGERPRINT=your_sandbox_fingerprint
 