# For development in a console
 CLIENT_ID=your_sandbox_client_id
 CLIENT_SECRET=your_sandbox_client_secret
 FINGERPRINT=your_sandbox_fingerprint
 
 # For running tests
 TEST_CLIENT_ID=client_id_ciUtXkzh6CLdprI8QYNo1D0ZFmGMHsAaw9jVvf37
 TEST_CLIENT_SECRET=client_secret_grnEXj2fe8qyFOkMGuH6lBAQhRi4v7VoKTsC0wUL